body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,legend,button,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
body{background:#fff;color:#222;font-size:14px;margin-top:5px;font-family:Arial;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
a{text-decoration:none;color:#222;}
.w1200{width:1200px;margin:0 auto;}
.br15{border-radius:15px;}
.br10{border-radius:10px;}
.fl{float:left;}
.fr{float:right;}
.tac{text-align:center;}
.tal{text-align:left;}
.clear{clear: both;}

/*======== global variables ========*/
:root{--primary-red: #a61e2f;--primary-red-hover:#bf2640;}

/*======== font-face ========*/
@font-face {font-family:'BM-HANNA'; src:url('../images/BM-HANNA.ttf.woff') format('woff'), url('../images/BM-HANNA.ttf.svg#BM-HANNA') format('svg'), url('../images/BM-HANNA.ttf.eot'), url('../images/BM-HANNA.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal;}
.bf{font-family:'BM-HANNA';}

/*======== header ========*/
.logo-bar{height:80px;}
.logo{padding:7px 14px 0 0;}
.logo img{height:60px;}
.title{height:80px;line-height:80px;font-size:40px;text-transform: uppercase;}
.nav{width:518px;text-transform:uppercase;font-size:18px;}
.nav li{padding:30px 25px;}
.nav li:hover{color:var(--primary-red);}
.language-switch{background:transparent;border:1px solid var(--primary-red);color:var(--primary-red);cursor: pointer;transition: all 0.3s ease;margin:25px 0 0 25px;border-radius:99px;padding:2px 8px;}
.language-switch:hover{background-color: var(--primary-red);color:#fff;}
.nav .active{color:var(--primary-red);cursor: default;}
/*======== banner ========*/
.banner-box{background:#111;}
.dark-bg{color:#fff;width:680px;}
.contents{margin-bottom:15px;}
.banner .dark-bg h1{font-size:44px;line-height:80px;text-transform:uppercase;}
.banner .dark-bg p{font-size:16px;line-height:28px;}
.dark-bg a{background:var(--primary-red);font-size:14;padding:13px 0;color:#fff;margin-top:40px;display:block;width:220px;text-transform: uppercase;}
.dark-bg a:hover{background:var(--primary-red-hover);}
.banner-index{width:1200px;height:550px;background:url("../images/banner-index.jpg") no-repeat;}
.banner-index .dark-bg h1{padding-top:190px;}
.banner-pages{width:1200px;height:360px;background:url("../images/banner-pages.jpg") no-repeat;}
.banner-pages .dark-bg h1{padding-top:110px;}

/*======== main ========*/
.intro h2,.series{font-size:40px;line-height:120px;text-transform:uppercase;}
.intro b{font-size:24px;line-height:60px;}
.intro p{font-size:18px;line-height:28px;margin-bottom:20px;}
/* .classification{font-size:28px;text-transform: uppercase;margin-bottom:20px;color:var(--primary-red);} */
/*Home*/
.contents-index{margin:40px 0;height:760px;}
.testimonials{margin-top:60px;}
.testimonials .center-title{font-size:40px;margin-bottom:20px;text-transform:uppercase;}
.testimonials .card{background:#eee;padding:15px 25px;margin:0 15px 15px 0;width:542px;}
.testimonials .card:nth-child(3),.testimonials .card:nth-child(5){margin-right:0;}
.testimonials h2{font-size:30px;line-height:60px;}
.testimonials p{font-size:16px;line-height:22px;margin-bottom:10px;}
/*About*/
.contents-about{height:2000px;}
.our-vov{background:#212326;height:402px;padding:44px 30px;margin:50px 0 25px 0;color:#fff;}
.our-vov .left{width:600px;height:100px;}
.our-vov .left img{width:280px;border:2px solid #aaa;margin:0 10px 10px 0;}
.our-vov .right{width:520px;}
.our-vov h2{font-size:32px;line-height:75px;text-transform:uppercase;}
.our-vov p{font-size:17px;line-height:28px;margin-bottom:10px;}
.special{margin-top: 40px;}
.special img{height:366px;}
.special img:nth-child(1){margin-right:20px;}
/*Menu*/
.contents-menu{height:2460px;}
.item{width:368px;height: 544px;margin-left:48px;color:#222;}
.item:hover{opacity:80%;}
.item:nth-child(1),.item:nth-child(4),.item:nth-child(7),.item:nth-child(10){margin-left:0;}
.item img{width:368px;margin:10px 0;}
.item .np{min-height:22px;}
.item .name{font-size:20px;line-height: 22px;font-weight:bold;width: 290px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.item .price{font-size:22px;line-height: 22px;font-weight:bold;color:var(--primary-red);}
.item .description{font-size:15px;margin:5px 0 15px 0;color:#888;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/*Order Online*/
.contents-order-online{height:1024px;}
.location{margin-top:60px;}
.location .center-title{font-size:40px;margin-bottom:40px;text-transform:uppercase;}
.location .card{padding:20px 15px;margin:0 15px 15px 0;width:358px;border:1px solid #aaa;color:#222;}
.location .card:nth-child(4),.location .card:nth-child(7),.location .card:nth-child(10),.location .card:nth-child(13){margin-right:0;}
.location .aoo{font-size: 23px;line-height: 60px;}
.location hr{border:1px dashed #ccc;margin:20px 0;}
.location h2{font-size:22px;line-height:60px;}
.location p{font-size:16px;line-height:22px;margin-bottom:10px;}
.open{color:green;font-weight:bold;}
/*Reservation*/
.contents-reservation{height:1650px;}
.img-box{margin-top:60px;}
.img-box img{width:390px;margin:0 15px 15px 0;}
.img-box img:nth-child(3),.img-box img:nth-child(6){margin-right:0;}
/*Contact*/
.contents-contact{height:1600px;}
.map{margin-bottom:80px;}
.map iframe{width: 100%;height:500px;border:0;}
.e-form{background:url("../images/e-form.jpg") no-repeat;width:640px;height:714px;padding:20px 70px;border:1px solid #aaa;}
.e-form h2{text-transform:uppercase;color:#fff;}
.e-form p{font-size:18px;margin-top:5px;color:#fff;}
.e-form input,.e-form textarea{outline:none;width:610px;border:1px solid #bbb;border-radius:7px;padding:5px 15px;font-size:16px;}
.e-form input{height:30px;margin-bottom:20px;}
.e-form textarea{height:170px;}
.e-form hr{margin:30px 0;}
.e-form .submit{width:150px;height:48px;line-height:48px;border-radius:10px;background:#a6192e;border:0;color:#fff;font-size:17px;margin-left:250px;}
.e-form .submit:hover{cursor:pointer;background:#b9001c;}

/*======== footer ========*/
.footer{background:#212326;}
.footer .center{padding:20px 0 25px 0;}
.footer .information{width:50px;height:50px;}
.footer h2,.footer h5{color:#bbb;font-weight:bold;margin:20px 0 5px 0;}
.footer h2{font-size:24px;}
.footer .contact-box{margin-right:160px;}
.footer h5{font-size:20px;}
.footer p{color:#ddd;font-size:15px;line-height:22px;}
.footer hr{margin:20px 0;border:1px dashed #555;}
.footer a{color:#ccc;margin-right:20px;}
.footer a:hover{color:#eee;}
.footer span{color:#ccc;margin-right:20px;}